html {
  scroll-behavior: smooth !important;
}

.custom-cursor {
  position: fixed;
  pointer-events: none;
  z-index: 9999999;
  width: 40px;
  height: 40px;
  left: 20px;
  margin-left: 5px;
  transition: all 0.5s smooth;
}

@media screen and (max-width: 767px) {
  .custom-cursor {
    display: none;
  }
}



@keyframes wave {

  0%,
  100% {
    transform: rotate(0deg) scaleY(1);
  }

  25% {
    transform: rotate(5deg) scaleY(1.1);
  }

  50% {
    transform: rotate(0deg) scaleY(1);
  }

  75% {
    transform: rotate(-5deg) scaleY(1.1);
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #00516f transparent;
}

/*====== Start Preloader css ======*/
.preloader {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: 99999;
}

.preloader .loader {
  margin: 0 auto;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;

}

.preloader .pre-box {
  width: 50px;
  height: 50px;
  background: #fff;
  -webkit-animation: loaderAnimate 0.5s linear infinite;
  animation: loaderAnimate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.preloader .pre-shadow {
  width: 50px;
  height: 5px;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  -webkit-animation: loaderShadow 0.5s linear infinite;
  animation: loaderShadow 0.5s linear infinite;
}

@-webkit-keyframes loaderAnimate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes loaderAnimate {
  17% {
    border-bottom-right-radius: 3px;
  }

  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    -webkit-transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes loaderShadow {
  50% {
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}

@keyframes loaderShadow {
  50% {
    -webkit-transform: scale(1.2, 1);
    transform: scale(1.2, 1);
  }
}